.container {
  background: linear-gradient(0deg, #162638, #162638);
  border: 1px solid #203650;
  border-radius: 5px;
  padding: 20px 20px 0;
}

.title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 20px;
}

.item img {
  width: 100%;
}
