.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/images/login_bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .board {
    width: 100%;
    height: 512px;
    max-width: 954px;
    background: rgba(16, 27, 40, 0.98);
    border: 1px solid #203650;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin-bottom: 44px;

    .header {
      padding: 50px;

      img {
        cursor: pointer;
      }
    }

    .body {
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 15px;
        text-align: center;
      }

      .description {
        width: 100%;
        max-width: 465px;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        opacity: 0.9;
        margin-bottom: 50px;
        text-align: center;
      }

      .apps {
        a {
          margin: 0 5px;
        }
      }
    }
  }

  .copyright {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    color: #c4c4c4;
  }
}
