.search {
  width: 100%;
  max-width: 482px;
  position: relative;

  .textField {
    height: 40px;
    background: #203650;
    border: 1px solid #364a62;
    border-radius: 5px;
    box-shadow: none !important;
  }

  .textField input {
    height: 100%;
    background: none;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding-right: 30px;

    &:focus {
      box-shadow: none !important;
    }
  }

  .clear {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}
