.container {
  margin-bottom: 50px;

  .title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .slider {
    width: 100%;

    .item {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
    }

    .item img, .item video {
      width: 100%;
      margin-bottom: 10px;
    }

    .item p {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    .slider {
      .item {
        padding-right: 0 !important;
      }
    }
  }
}
